# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName hondabac.com
AuthUserFile /home/hondabac/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/hondabac/public_html/_vti_pvt/service.grp
