.pav-category-products ul,
.pav-category-products ol{
	list-style: none;
}
.pav-category-products ul li img{
    display: none;
}

.pav-category-products ul li a{
    display: block;
    cursor: default;
}

.pav-category-products ul li a span{
    cursor: text;
}
.pav-category-products .product-grid .row{
    padding: 0;
}
.pav-category-products .tab-pane{
	position: relative;
}
.pav-category-products .carousel-controls{
	position: absolute;	
	top: -30px;
	right: 0;
}
.pav-category-products .carousel-controls .left{
	left: -38px;
}
.cat-products-block{
		position:relative;
		margin-bottom: 20px;
		border: solid 1px #f4f4f4;
		background-color: #FFFFFF
	}
	/** block header **/
	.cat-products-block .block-head{
			background-color:#f4f4f4;

		}
		.cat-products-block .block-head h3{
			padding: 6px 12px; 
			font-size: 120%;
			font-weight: bold;
			margin: 0
		}	

	/***** block content *********/
	.cat-products-block  .block-content{
			background-color:#FFFFFF;
			margin: 12px;
			position: relative;

		}

		.cat-products-block .carousel-controls {
			position: absolute;
			top: -38px;
			right: 0;
			z-index: 6;
			width: 130px
		}